<!DOCTYPE html>
<html>

<head>
    <title>IQ Test Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/assets/css/styles.css" />
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>

    <html>

    <head>
        <title>IQ Test Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/static/assets/css/main.css" />
        <noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
    </head>

    <body class="is-preload">
        <section id="header">
            <header>
                <h1>IQ Test</h1>
            </header>

            <form id="form1" method="post" action="/results">
                <h3> {{ questions[0]["question"] }} </h3><br>
                <input type="radio" name="widow" value="Yes">Yes<br>
                <input type="radio" name="widow" value="No">No<br><br>

                <h3>{{ questions[1]["question"] }}</h3><br>
                <input type="radio" name="bat" value="15 Cents">15 Cents<br>
                <input type="radio" name="bat" value="5 cents">5 Cents <br>
                <input type="radio" name="bat" value="10 Cents">10 Cents <br><br>

                <h3>{{ questions[2]["question"] }}</h3><br>
                <input type="radio" name="forest" value="Plant">Plant<br>
                <input type="radio" name="forest" value="Branch">Branch<br>
                <input type="radio" name="forest" value="Leaf">Leaf<br>
                <input type="radio" name="forest" value="Mangrove">Mangrove<br><br>


                <h3> {{ questions[3]["question"] }}</h3><br>
                <input type="radio" name="july" value="Yes">Yes<br>
                <input type="radio" name="july" value="No">No<br><br>

                <h3>{{ questions[4]["question"] }}</h3><br>
                <input type="radio" name="race" value="1st">1st<br>
                <input type="radio" name="race" value="2nd">2nd<br>
                <input type="radio" name="race" valud="3rd">3rd<br><br>

                <h3>{{ questions[5]["question"] }}</h3><br>
                <input type="radio" name="bicycles" value="6">6<br>
                <input type="radio" name="bicycles" value="4">4<br>
                <input type="radio" name="bicycles" value="2">2<br>
                <input type="radio" name="bicycles" value="1">1<br><br>

                <h3>{{ questions[6]["question"] }}</h3><br>
                <input type="radio" name="height" value="Bill is taller than Peter">Bill is taller than Peter<br>
                <input type="radio" name="height" value="Bill is shorter than Peter">Bill is shorter than Peter<br>
                <input type="radio" name="height" value="Bill is as tall as peter">Bill is as tall as Peter<br>
                <input type="radio" name="height" value="It is impossible to tell whether Bill or Peter is taller">It is impossible to tell whether Bill or Peter is taller<br><br>

                <h3>{{ questions[7]["question"] }}</h3><br>
                <input type="radio" name="family" value="Bob">Bob<br>
                <input type="radio" name="family" value="Momo">Momo<br>
                <input type="radio" name="family" value="Meme">Meme<br>
                <input type="radio" name="family" value="Mumu">Mumu<br><br>

                <h3>{{ questions[8]["question"] }}</h3><br>
                <input type="radio" name="math" value="25">25<br>
                <input type="radio" name="math" value="90">90<br>
                <input type="radio" name="math" value="70">70<br>
                <input type="radio" name="math" value="50">50<br><br>

                <h3>{{ questions[9]["question"] }}</h3><br>
                <input type="radio" name="months" value="4">4<br>
                <input type="radio" name="months" value="12">12<br>
                <input type="radio" name="months" value="1">1<br>
                <input type="radio" name="months" value="7">7<br>
                <input type="radio" name="months" value="3">3<br><br>
                <input type="submit">
            </form>

        </section>



        <!--Scripts-->
        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/jquery.scrolly.min.js"></script>
        <script src="/static/assets/js/jquery.poptrox.min.js"></script>
        <script src="/static/assets/js/browser.min.js"></script>
        <script src="/static/assets/js/breakpoints.min.js"></script>
        <script src="/static/assets/js/util.js"></script>
        <script src="/static/assets/js/main.js"></script>

    </body>

    </html>
